<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <h4><a href="mailto:hamilldesigns.web@gmail.com">hamilldesigns.web@gmail.com</a></h4>
<%- include("partials/footer"); -%>
